@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-offWhite text-textPrimary antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animate-once {
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  .animate-delay-300 {
    animation-delay: 300ms;
  }
  .animate-delay-500 {
    animation-delay: 500ms;
  }
  .animate-delay-600 {
    animation-delay: 600ms;
  }
  .animate-delay-800 {
    animation-delay: 800ms;
  }
  .animate-delay-1000 {
    animation-delay: 1000ms;
  }
}
